<div class="heading">Language Settings</div>

<div class="grid">
    <section>
        <div class="box font--light">
            <div class="heading language">C</div>
            <form>
            <div class="row font--dark grid-half">
                <section>
                    <div class="font--bold">
                        <div class="text--left width--input">Headers<mat-checkbox class="switch" ></mat-checkbox></div>
                        <mat-form-field class="input-textarea width--input">
                            <textarea matInput placeholder="Headers" matTextareaAutosize matAutosizeMinRows="15"
                matAutosizeMaxRows="15"></textarea>
                        </mat-form-field>
                    </div>
                </section>
                <section>
                    <div class="font--bold">
                        <div class="text--left width--input">Forbidden Words<mat-checkbox class="switch" ></mat-checkbox></div>
                        <mat-form-field class="input-textarea width--input">
                            <textarea matInput placeholder="Forbidden Words" matTextareaAutosize matAutosizeMinRows="15"
                    matAutosizeMaxRows="15"></textarea>
                        </mat-form-field>
                    </div>
                </section>
            </div>
            <div class="text--center">
                <button mat-raised-button color="primary" class="button-primary">Apply Changes</button>
            </div>
            </form>
        </div>
    </section>

    <section>
        <div class="box font--light">
            <div class="heading language">C++</div>
            <form>
            <div class="row font--dark grid-half">
                <section>
                    <div class="font--bold">
                        <div class="text--left width--input">Headers<mat-checkbox class="switch" ></mat-checkbox></div>
                        <mat-form-field class="input-textarea width--input">
                            <textarea matInput placeholder="Headers" matTextareaAutosize matAutosizeMinRows="15"
                matAutosizeMaxRows="15"></textarea>
                        </mat-form-field>
                    </div>
                </section>
                <section>
                    <div class="font--bold">
                        <div class="text--left width--input">Forbidden Words<mat-checkbox class="switch" ></mat-checkbox></div>
                        <mat-form-field class="input-textarea width--input">
                            <textarea matInput placeholder="Forbidden Words" matTextareaAutosize matAutosizeMinRows="15"
                    matAutosizeMaxRows="15"></textarea>
                        </mat-form-field>
                    </div>
                </section>
            </div>
            <div class="text--center">
                <button mat-raised-button color="primary" class="button-primary">Apply Changes</button>
            </div>
            </form>
        </div>
    </section>


    <section>
        <div class="box font--light">
            <div class="heading language">Java</div>
            <form>
            <div class="row font--dark grid-half">
                <section>
                    <div class="font--bold">
                        <div class="text--left width--input">Headers<mat-checkbox class="switch" ></mat-checkbox></div>
                        <mat-form-field class="input-textarea width--input">
                            <textarea matInput placeholder="Headers" matTextareaAutosize matAutosizeMinRows="15"
                matAutosizeMaxRows="15"></textarea>
                        </mat-form-field>
                    </div>
                </section>
                <section>
                    <div class="font--bold">
                        <div class="text--left width--input">Forbidden Words<mat-checkbox class="switch" ></mat-checkbox></div>
                        <mat-form-field class="input-textarea width--input">
                            <textarea matInput placeholder="Forbidden Words" matTextareaAutosize matAutosizeMinRows="15"
                    matAutosizeMaxRows="15"></textarea>
                        </mat-form-field>
                    </div>
                </section>
            </div>
            <div class="text--center">
                <button mat-raised-button color="primary" class="button-primary">Apply Changes</button>
            </div>
            </form>
        </div>
    </section>


    <section>
        <div class="box font--light">
            <div class="heading language">Python</div>
            <form>
            <div class="row font--dark grid-half">
                <section>
                    <div class="font--bold">
                        <div class="text--left width--input">Headers<mat-checkbox class="switch" ></mat-checkbox></div>
                        <mat-form-field class="input-textarea width--input">
                            <textarea matInput placeholder="Headers" matTextareaAutosize matAutosizeMinRows="15"
                matAutosizeMaxRows="15"></textarea>
                        </mat-form-field>
                    </div>
                </section>
                <section>
                    <div class="font--bold">
                        <div class="text--left width--input">Forbidden Words<mat-checkbox class="switch" ></mat-checkbox></div>
                        <mat-form-field class="input-textarea width--input">
                            <textarea matInput placeholder="Forbidden Words" matTextareaAutosize matAutosizeMinRows="15"
                    matAutosizeMaxRows="15"></textarea>
                        </mat-form-field>
                    </div>
                </section>
            </div>
            <div class="text--center">
                <button mat-raised-button color="primary" class="button-primary">Apply Changes</button>
            </div>
            </form>
        </div>
    </section>

</div>
