/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Put contest styles here */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

* {
    transition: all 0.1s ease-out !important;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    height: 100%;
}

mat-icon {
    vertical-align: middle;
    line-height: 0.95 !important;
    margin: 0.5rem !important;
}
mat-table mat-icon {
    color: #484848;
}
mat-table {
    font-size: 0.9rem;
    font-family: 'Open Sans', sans-serif;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}
.modal mat-table {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    min-width: 600px;
}
mat-header-cell {
    font-size: 0.8rem !important;
    font-weight: 600 !important;
    color: #484848;
}
mat-cell {
    font-size: 0.9rem !important;
    font-weight: 400 !important;
    color: #8f8f8f !important;
}
.standing-problem {
    margin-right: 1rem;
}

.mat-dialog-container {
    padding: 3rem !important;
}
.mat-dialog-container form {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.mat-dialog-container .row {
    margin-bottom: 0.6rem !important;
}
/* Side Menu */

.menu {
    box-sizing: border-box !important;
    padding: 1.3rem !important;
    padding-top: 0.8rem !important;
    padding-bottom: 0.8rem !important;
    cursor: pointer;
    color: #b5bbc0 !important;
    font-weight: 300 !important;
    font-size: 1rem !important;
    text-align: left !important;
}

a {
    text-decoration: none;
}

.download-link {
    color: #0cc2aa;
    font-weight: 500;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    margin-right: 1rem;
}

input, button {
    font-weight: 400 !important;
    font-family: 'Open Sans', sans-serif !important;
}
.input-time {
    width: 2rem;
    text-align: center;
}

.mat-form-field-infix {
    margin-top: -0.7rem;
}

.mat-checkbox-inner-container {
    width: 1rem !important;
    height: 1rem !important;
    line-height: 0;
    margin: auto;
    margin-right: 8px;
    order: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    flex-shrink: 0;
}

.input-textarea {
    margin-top: 1.5rem !important;
}

.input-long {
    width: 100%;
    min-width: 16rem;
}


.mat-button.no--hover .mat-button-focus-overlay {
    background-color: initial !important;
}

.button-primary, .button-accent, .button-white {
    margin: 0 0.25rem !important;
    color: #fff !important;
}
.button-accent {
    color: #fff !important;
    background: #8f8f8f !important;
}
.button-white {
    color: #0cc2aa !important;
}

.select-primary {
    margin: 0 0.25rem !important;
}



.heading {
    font-size: 1.4rem;
    margin: 0;
    margin-bottom: 1.5rem;
    font-weight: 700 !important;
    text-transform: uppercase;
    color: #484848;
}
.heading .heading-bar {
    margin-top: -1rem;
}
.heading.language {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

/* Color Theme */

.background--dark {
    background: #36404a !important;
}

.background--darker {
    background: #2a3138 !important;
}

.background--light {
    background: #ebeff2 !important;
}

.background--green {
    background: #0cc2aa !important;
}

.background--gray {
    background: #b5bbc0 !important;
}

.font--dark {
    color: #484848 !important;
}

.font--light {
    color: #8f8f8f !important;
}

.font--white {
    color: #fff !important;
}

.font--green {
    color: #0cc2aa !important;
}

.font--bold {
    font-weight: 600 !important;
}

.font--normal {
    font-weight: 400 !important;
}

.font--uppercase {
    text-transform: uppercase !important;
}

.text--left {
    text-align: left;
}
.text--right {
    text-align: right;
}
.text--center {
    text-align: center;
}

.hover--font--white:hover {
    color: #fff !important;
}


.box--shadow {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
}


/* Layout */

.flexbox {
    display: flex !important;
}

.flexbox.row {
    flex-direction: row;
}

.flexbox.column {
    flex-direction: column !important;
}

.flex {}

.flex--start {
    flex: 1;
    justify-content: flex-start;
    text-align: left;
}
.flex--end {
    flex: 1;
    justify-content: flex-end;
    text-align: right;
}
.flex--ver--center {
    align-content: center;
}
.flex--vertical {
    flex-wrap: wrap;
    align-content: space-between;
}

.full--height {
    height: 100vh !important;
    box-sizing: border-box;
}

.full--width {
    width: 100vw;
    box-sizing: border-box;
}

.width--input {
    width: 14rem;
    margin: 0 auto;
}


.margin--top {
    margin-top: 0.5rem !important;
}
.margin--bottom {
    margin-bottom: 0.5rem !important;
}
.margin--left {
    margin-left: 0.5rem !important;
}
.margin--right {
    margin-right: 0.5rem !important;
}





.box--border {
    box-sizing: border-box;
}

.topbar {
    position: fixed;
    z-index: 100;
    background: #fff !important;
    display: flex;
}
.sidebar {
    width: 15rem !important;
    margin-top: 64px;
}
.nav {
    flex: 2;
}
.timer {
    flex: 1;
}
.contest-name {
    padding: 1rem;
    font-size: 0.9rem;
    color: #b5bbc0 !important;
    text-transform: uppercase;
    font-weight: 600;
}
.time {
    margin: 1rem auto;
    padding: 0.6rem;
    font-size: 1.1rem;
    color: #fff;
    background: #36404a;
    border-radius: 100px;
    width: 70%;
    font-weight: 300;
    text-align: center;
}
.time span {
    font-weight: 600;
}


.content {
    margin-top: 64px;
    padding: 2rem;
    width: 100%;
    height: auto !important;
}

.paragraph {
    padding-top: 0.3rem;
    padding-bottom: 1rem;
}

.role {
    font-size: 1rem;
    font-weight: 400;
    margin-right: 2rem;
    line-height: 2.3;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    //grid-auto-rows: minmax(500px, auto);
}
.grid.gap-big {
    grid-gap: 3rem;
}
.grid-table {
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-gap: 1rem;
    margin-bottom: 2rem !important;
}
.grid-half {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 2rem !important;
    text-align: center;
}
.grid-heading {
    display: grid;
    grid-template-columns: 13rem 1fr;
    grid-gap: 1rem;
}
.box {
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    padding: 2rem;
    font-size: 0.9rem;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    min-height: 350px;
}
.box .row {
    padding-bottom: 1rem;
    font-size: 0.9rem;
    font-family: 'Open Sans', sans-serif;
}
.switch {
    margin: 0.5rem 1rem;
}



@media all and (max-width: 1000px) and (min-width: 50px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
    .grid-heading {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
}
