<div>
    <mat-table #table [dataSource]="dataSource" matSort>

        <ng-container *ngFor="let column of columns" [matColumnDef]="column.header">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.header}}</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <span *ngIf="!column.displayIsComponent">{{row[column.dataField]}}</span>
                <data-table-field *ngIf="column.displayIsComponent" [component]="column.component" [data]="row[column.dataField]"></data-table-field>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="headers"></mat-header-row>
        <mat-row *matRowDef="let row; columns: headers;"></mat-row>
    </mat-table>
</div>
