<div class="heading">Contest Details</div>

<div class="grid">
    <section>
        <div class="box font--light">
            <div class="row font--dark grid-table">
                <div class="font--bold">Time until freeze</div>
                <div>02 : 15 : 31</div>
            </div>
            <div class="row font--dark grid-table">
                <div class="font--bold">Team name</div>
                <div>Good Team</div>
            </div>
            <div class="row font--dark grid-table">
                <div class="font--bold">Team members</div>
                <div>James, Solomon, Adam</div>
            </div>
            <div class="row font--dark grid-table">
                <div class="font--bold">Team coach</div>
                <div>Mr. Awesome</div>
            </div>
        </div>
    </section>
    <section>
        <div class="box font--light">
            <div class="row font--dark grid-table">
                <div class="font--bold">Instruction</div>
                <div>This is an instruction. Please follow this instruction. I hope you read this, but you don't have to. Have a good day.</div>
            </div>
            <div class="row font--dark grid-table">
                <div class="font--bold">C</div>
                <div>
                    <div class="font--bold">Headers</div>
                    <div class="paragraph">google, android, apple</div>
                    <div class="font--bold">Forbidden Words</div>
                    <div class="paragraph">awesome, cool</div>
                </div>
            </div>
            <div class="row font--dark grid-table">
                <div class="font--bold">C++</div>
                <div>
                    <div class="font--bold">Headers</div>
                    <div class="paragraph">google, android, apple</div>
                    <div class="font--bold">Forbidden Words</div>
                    <div class="paragraph">awesome, cool</div>
                </div>
            </div>
            <div class="row font--dark grid-table">
                <div class="font--bold">Java</div>
                <div>
                    <div class="font--bold">Headers</div>
                    <div class="paragraph">google, android, apple</div>
                    <div class="font--bold">Forbidden Words</div>
                    <div class="paragraph">awesome, cool</div>
                </div>
            </div>
        </div>
    </section>
</div>
