<div fxLayout="column" fxFlexFill>
    <mat-toolbar class="topbar box--shadow flexbox column flex--ver--center flex--end">
        <mat-toolbar-row>
            <button mat-icon-button (click)="toggleMenu()" class="flexbox">
                <mat-icon>view_headline</mat-icon>
            </button>
            <div class="flexbox flex--end">
                <span class="user-type">{{routeName === 'judge' ? 'Judge' : routeName === 'Admin' ? 'Admin' : 'User'}}</span>
                <button mat-button class="font--uppercase font--green no--hover">Sign Out</button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container fxFlexFill class="flexbox row full--height">
        <mat-sidenav mode="side" [(opened)]="opened" class="sidebar background--dark flex--vertical">
            <div>
                <live-sidenav *ngIf="routeName === 'live'"></live-sidenav>
                <judge-sidenav *ngIf="routeName === 'judge'"></judge-sidenav>
                <admin-sidenav *ngIf="routeName === 'admin'"></admin-sidenav>
            </div>
            <div class="sidebar-timer background--darker">
                <div class="contest-name">example-contest</div>
                Timer here
            </div>
        </mat-sidenav>
        <mat-sidenav-content class="content background--light">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
