<div fxLayout="column" fxFlexFill>
    <mat-toolbar>
        <mat-toolbar-row>
            <button mat-icon-button (click)="toggleMenu()">
                <mat-icon>view_headline</mat-icon>
            </button>
            <span>{{routeName === 'judge' ? 'Judge' : routeName === 'Admin' ? 'Admin' : 'User'}}</span>
            <button mat-button>SIGN OUT</button>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container class="sidebar" fxFlexFill>
        <mat-sidenav mode="side" [(opened)]="opened" class="background--dark">
            <live-sidenav *ngIf="routeName === 'live'"></live-sidenav>
            <judge-sidenav *ngIf="routeName === 'judge'"></judge-sidenav>
            <admin-sidenav *ngIf="routeName === 'admin'"></admin-sidenav>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>