<div class="grid-heading">
    <div class="heading">Submissions</div>
    <div class="heading-bar text--right">
        <mat-form-field class="select-primary">
          <mat-select placeholder="Filter">
            <mat-option *ngFor="let filter of filters_submission" [value]="filter.value">
              {{ filter.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="select-primary">
          <mat-select placeholder="Filter">
            <mat-option *ngFor="let filter of filters_problem" [value]="filter.value">
              {{ filter.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="select-primary">
          <mat-select placeholder="Filter">
            <mat-option *ngFor="let filter of filters_team" [value]="filter.value">
              {{ filter.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
</div>

<data-table [columns]="tableColumns" [data]="submissions"></data-table>
