

/* Color Theme */
.background--dark {
    background: #36404a;
}
.background--darker {
    background: #2a3138;
}
.background--light {
    background: #ebeff2;
}
.background--green {
    background: #0cc2aa;
}
.background--gray {
    background: #b5bbc0;
}



/* Layout */
.flexbox {
    display: flex;
}
.flexbox.row {
    flex-direction: row;
}
.flexbox.column {
    flex-direction: column;
}
.flex {

}
