<div fxLayout="column">
    <button mat-button routerLink="./contest-detail" routerLinkActive="active background--darker font--white" class="menu">
        <mat-icon>device_hub</mat-icon>
        <span>Contest</span>
    </button>
    <button mat-button routerLink="./problems" routerLinkActive="active background--darker font--white" class="menu">
        <mat-icon>library_books</mat-icon>
        <span>Problems</span>
    </button>
    <button mat-button routerLink="./clarifications" routerLinkActive="active background--darker font--white" class="menu">
        <mat-icon>question_answer</mat-icon>
        <span>Clarifications</span>
    </button>
    <button mat-button routerLink="./standings" routerLinkActive="active background--darker font--white" class="menu">
        <mat-icon>assessment</mat-icon>
        <span>Standings</span>
    </button>
</div>
