<div class="grid">
    <section>
        <div class="heading">Contest Details</div>
        <div class="box font--light">
            <form>
            <div class="row font--dark grid-table">
                <div class="font--bold">Contest ends in</div>
                <div>
                    <mat-form-field class="input-time">
                        <input matInput type="number" placeholder="HH" >
                    </mat-form-field>
                    <span>:</span>
                    <mat-form-field class="input-time">
                        <input matInput type="number" placeholder="MM" >
                    </mat-form-field>
                    <span>:</span>
                    <mat-form-field class="input-time">
                        <input matInput type="number" placeholder="SS" >
                    </mat-form-field>
                </div>
            </div>
            <div class="row font--dark grid-table">
                <div class="font--bold">Team name</div>
                <div>
                    <mat-form-field class="input-time">
                        <input matInput type="number" placeholder="HH" >
                    </mat-form-field>
                    <span>:</span>
                    <mat-form-field class="input-time">
                        <input matInput type="number" placeholder="MM" >
                    </mat-form-field>
                    <span>:</span>
                    <mat-form-field class="input-time">
                        <input matInput type="number" placeholder="SS" >
                    </mat-form-field>
                </div>
            </div>
            <div class="row font--dark grid-table">
                <div class="font--bold">Display team names</div>
                <div>
                    <mat-checkbox class="" ></mat-checkbox>
                </div>
            </div>
            <div class="row font--dark grid-table">
                <div class="font--bold">Ignore standard error</div>
                <div>
                    <mat-checkbox class="" ></mat-checkbox>
                </div>
            </div>
            </form>
        </div>
    </section>

    <section>
        <div class="heading">Server Details</div>
        <div class="box font--light">
            <form>
            <div class="row font--dark grid-table">
                <div class="font--bold">Host</div>
                <div>
                    <mat-form-field class="input-text">
                        <input matInput type="text" placeholder="Host" >
                    </mat-form-field>
                </div>
            </div>
            <div class="row font--dark grid-table">
                <div class="font--bold">Base directory</div>
                <div>
                    <mat-form-field class="input-text">
                        <input matInput type="text" placeholder="Directory" >
                    </mat-form-field>
                </div>
            </div>
            <div class="row font--dark grid-table">
                <div class="font--bold">Judge Username</div>
                <div>
                    <mat-form-field class="input-text">
                        <input matInput type="text" placeholder="Username" >
                    </mat-form-field>
                </div>
            </div>
            <div class="row font--dark grid-table">
                <div class="font--bold">Judge Password</div>
                <div>
                    <mat-form-field class="input-text">
                        <input matInput type="text" placeholder="Password" >
                    </mat-form-field>
                </div>
            </div>
            </form>
        </div>
    </section>


</div>
